#root {
  font-size: 32rem;
}

.text[data-v-g86a90UuSY] {
  color: red;
  font-size: 40rem;
  margin-bottom: 20rem;
}

.btn[data-v-g86a90UuSY] {
  width: 100%;
  height: 100rem;
  font-size: 40rem;
  background-color: #eff0f2;
  margin: 10rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  cursor: pointer;
}

.list-item[data-v-g86a90UuSY] {
  width: 100%;
  height: 50rem;
  font-size: 40rem;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0);
         transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.anima-view[data-v-g86a90UuSY] {
  width: 200rem;
  height: 200rem;
  background-color: #eff0f2;
  -webkit-animation: rotate 3s linear infinite;
     -moz-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}

.anima-view[data-v-g86a90UuSY]::after {
  content: '';
  display: block;
  width: 50rem;
  height: 50rem;
  background-color: red;
}

.detail[data-v-0SlQwtctIY] {
  color: red;
  background: green;
}

